.Slider {
  position: relative; 
  z-index: 0; 
  
  .slide img {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .control-arrow {
    height: 30%;
    width: 5%;

    &.control-prev::before {
      border-right: 18px solid black;
    }
    &.control-next::before {
      border-left: 18px solid black;
    }
  }
}
