@import "../../css-config/mixins.scss";
.main-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 98%;
  @include lg {
    top: 25%;
    transform: translate(-50%, 0%);
  }
  @include md {
    top: 20%;
  }
  @include sm {
    top: 10%;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0;
    @include xl {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
    }
    @include lg {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    @include md {
      gap: 20px;
    }
    @include sm {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    img {
      width: 120px;
    }
  }
}
