.slider-section {
  position: relative;
  top: 530px;
  .content {
    display: flex;
    flex-direction: column;
    width: 99%;
    gap: 20px;
    .slider3,
    .slider6 {
      display: flex;
      background: transparent;
      gap: 10px;
      width: 95%;
      margin: auto;
      padding: 0 17px;
      .oneItem-section {
        img {
          width: 80% !important;
          height: 250px;
        }
      }
      .fourItem-section {
        img {
          width: 60%;
        }
      }
    }
  }
}
