@import "../../css-config/mixins.scss";
.fourItem-section {
  height: 400px;
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1.5rem;
  padding-bottom: 1rem;
  gap: 30px;
  align-items: center;
  justify-content: center;

  .game-data {
    display: flex;
    flex-wrap: wrap;
    .child {
      flex: 1 1 auto;

      @include lg {
        width: 45%;
      }
    }
  }
  span {
    color: blue;
  }
}
