@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./css-config/mixins.scss";
.max-width {
  max-width: 1800px;
  margin: auto;
  width: 94%;
  overflow: hidden;
}
@media (min-width: 640px) {
  .max-width {
    width: 100%;
  }
}
.content {
  width: 96%;
  margin: auto;
}
.app {
  background: #dddcdc;
  width: 100%;
  height: 100%;
}
img {
  cursor: pointer;
}

@media (max-width: 640px) {
  .main-section {
    margin-top: -200px;
  }
}
@media (max-width: 415px) {
  .main-section {
    margin-top: -150px;
  }
}
@media (max-width: 220px) {
  .main-section {
    margin-top: 0px;
  }
}
@media (min-width: 1024px) {
  .main-section {
    padding-bottom: 250px;
    background: #000;
  }

  .square-item {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 1023px) {
  .square-item {
    width: 100%;
    height: auto;
  }
}
